[submodule "git"]
	path = git
	url = git@github.com:wrex-dots/git.git
[submodule "dunst"]
	path = dunst
	url = git@github.com:wrex-dots/dunst.git
[submodule "fish"]
	path = fish
	url = git@github.com:wrex-dots/fish.git
