[submodule "git"]
	path = git
	url = git@github.com:wrex-dots/git.git
[submodule "dunst"]
	path = dunst
	url = git@github.com:wrex-dots/dunst.git
[submodule "fish"]
	path = fish
	url = git@github.com:wrex-dots/fish.git
[submodule "fontconfig"]
	path = fontconfig
	url = git@github.com:wrex-dots/fontconfig.git
[submodule "vim"]
	path = vim
	url = git@github.com:wrex-dots/vim.git
[submodule "GDB"]
	path = GDB
	url = git@github.com:wrex-dots/GDB.git
[submodule "goblocks"]
	path = goblocks
	url = git@github.com:wrex-dots/goblocks.git
[submodule "i3"]
	path = i3
	url = git@github.com:wrex-dots/i3.git
[submodule "kitty"]
	path = kitty
	url = git@github.com:wrex-dots/kitty.git
[submodule "pacman"]
	path = pacman
	url = git@github.com:wrex-dots/pacman.git
[submodule "rofi"]
	path = rofi
	url = git@github.com:wrex-dots/rofi.git
